snippet //--- "Minimal python comment block"
`!p L = 74`
/* `!p snip.rv = ' '*(int((L - len(t[1]))/2)-5)`-≡   $1   ≡-`!p snip.rv = ' '*(int(0.5+(L - len(t[1]))/2)-5)` */

${VISUAL}$0

/* `!p snip.rv = '─'*(L)` */
endsnippet

